.custom-color{
    /* background-color: #343a40; */
    background-color: #4B4453;
}
/* body{
    position: relative;
}
.custom-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */